# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# env
.env

# prisma
generated/prisma/

# bun
bun.lockb
package-lock.json

# tiptap
/src/components/tiptap-*
/src/hooks/use-cursor-visibility.ts
/src/hooks/use-window-size.ts
/src/hooks/use-menu-navigation.ts
/src/hooks/use-mobile.ts
/src/hooks/use-tiptap-editor.ts
/src/styles/_keyframe-animations.scss
/src/styles/_variables.scss
/src/styles/_tiptap.scss
/src/lib/tiptap-utils.ts

# uploads
/public/uploads
libs.txt
